<app-header></app-header>

<main>
  <div class="container" id="container">
    <div class="form-container signup-container">
      <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
        <h1>Change password</h1>

        <div class="error-message">
          <section *ngIf="errorMessage">
            <div>{{errorMessage}}</div>
          </section>
        </div>

        <div class="successful-message">
          <section *ngIf="successfulMessage">
            <div>{{successfulMessage}}</div>
            <p>Go to <a href="/login">login page</a></p>
          </section>
        </div>


        <input type="email" formControlName="email" placeholder="Email" />
        <div class="invalid-feedback">Please fill out this field.</div>


        <input type="password" formControlName="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
        placeholder="Password" required />


        <input type="password" formControlName="confirm_password" placeholder="Confirm Password" />
        <br>
        <button>Change password</button>
      </form>
    </div>
    <div class="overlay-container">
      <div class="overlay">
        <div class="overlay-panel overlay-right">
          <img src="../../../assets/images/3297225.jpg" width="500" height="600">
        </div>
      </div>
    </div>
  </div>
</main>
