<app-header></app-header>

<main>
  <div class="container" id="container">
    <div class="form-container signup-container">
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <h1>Signup</h1>
        <section *ngIf="missMatchedPasswordError">
          <div>{{missMatchedPasswordError}}</div>
        </section>
        <input type="email" formControlName="email" placeholder="Email" />
        <input type="username" formControlName="username" placeholder="Username" />
        <input type="password" formControlName="password" placeholder="Password" />
        <input type="password" formControlName="confirm_password" placeholder="Confirm Password" />
        <br>
        <button>Sign up</button>
      </form>
    </div>
    <div class="overlay-container">
      <div class="overlay">
        <div class="overlay-panel overlay-right">
          <img src="../../../assets/images/3297225.jpg" width="500" height="600">
        </div>
      </div>
    </div>
  </div>
</main>
