
@media (max-width: 600px) {
  table {
    width: 100%;
  }
}

table {
  width: 100%;
}

mat-card-header {
  display: flex;
  justify-content: center;
}

:host{
  width: 100%;
  display:flex;
  flex-direction: column;
  justify-content: center;
}

h2{
  display: flex;
  justify-content: center;
}


td.mat-cell, th.mat-header-cell {
  text-align: center;
  justify-content:center;
}

.table{
  width:100%;
  display:flex;
  justify-content: center;
}

.table1{
  width:80%;
}


th{
  align-items: center;
}

th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
  padding: 0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  vertical-align: middle;
}

.red-text{
  color: red;
  font-weight: bold;
}

.green-text{
  color: green;
  font-weight: bold;
}

.gray-text {
  color: darkgrey;
  font-weight: bold;
}

.correlation-table-container {
  box-shadow: -5px 7px 11px 1px rgb(0 0 0 / 5%) !important;
}

.mat-column-category1 {
  justify-content: center;
}

.mat-column-category2 {
  justify-content: center;
}

.mat-column-coefficient {
  justify-content: center;
}

::ng-deep .mat-sort-header-arrow {
  position: absolute !important;
  right: -15px !important;
}
