<div class="content">
  <div class="container">
    <div class="row">
      <br>
      <div class="col-xl-12">
        <div class="row">

          <div class="col-sm-4">
            <div class="card-box tilebox-one"><i class="icon-layers float-right text-muted"></i>
              <h6 class="text-muted text-uppercase mt-0">Number of charts</h6>
              <h2 class="" data-plugin="counterup">3</h2>
            </div>
          </div>

          <!-- end row -->
          <div class="card-box">
            <h4 class="header-title mt-0 mb-3"></h4>
            <div class="div-charts">
              <div>
                <canvas id="canvas"></canvas>
              </div>

              <br>
              <div>
                <canvas id="bar-chart"></canvas>
              </div>
              <br>
              <div>
                <canvas id="line-chart"></canvas>
              </div>
              <br>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
