<h2>Correlation coefficient  table</h2>

<div class="table" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
  <div  class="table1" fxFlex="60">
      <div class="mat-elevation-z8">
          <table mat-table [dataSource]="this.dataSource">

              <ng-container matColumnDef="category1">
                  <th mat-header-cell *matHeaderCellDef>CATEGORY1</th>
                  <td mat-cell *matCellDef="let element"> {{element.category1}} </td>
              </ng-container>


              <ng-container matColumnDef="category2">
                  <th mat-header-cell *matHeaderCellDef>CATEGORY2</th>
                  <td mat-cell *matCellDef="let element"> {{element.category2}}</td>
              </ng-container>


              <ng-container matColumnDef="coefficient">
                  <th mat-header-cell *matHeaderCellDef>COEFFICIENT</th>
                  <td mat-cell *matCellDef="let element"  [ngClass]="element.coefficient>0 ? 'green-text' : 'red-text'"> {{element.coefficient.toFixed(2)}} </td>
              </ng-container>


              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>

          <mat-paginator [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
      </div>
  </div>
