/* You can add global styles to this file, and also import other style files */
/*@import '~bootstrap/dist/css/bootstrap.min.css';*/

@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");

:root {
  --theme-color: #673ab7;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
}

main {
  background: #f3e0e2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  height: 100%;
}

.form-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

mat-card {
  border-radius: 15px !important;
  box-shadow: -5px 7px 11px 1px rgb(0 0 0 / 5%) !important;
}

mat-dialog-container {
  border-color: var(--theme-color);
  border-width: 4px;
  border-style: solid;
  border-radius: 15px !important;
}

button {
  outline: none;
}


