<app-header></app-header>

<main>
  <div class="container" id="container">
    <div class="form-container log-in-container">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

        <h1>Login</h1>

        <div class="error-message" *ngIf="invalidUsernameOrPasswordError">
          <br>
          <span class="warning">{{invalidUsernameOrPasswordError}}</span>
        </div>

        <input type="email" formControlName="email" placeholder="Email" />
        <input type="password" formControlName="password" placeholder="Password" />
        <a href="/changePassword">Change your password</a>
        <a href="/signup">Not a member? Register</a>
        <button>Log In</button>
      </form>
    </div>
    <div class="overlay-container">
      <div class="overlay">
        <div class="overlay-panel overlay-right">
          <img src="../../../assets/images/3297225.jpg" width="500" height="600">
        </div>
      </div>
    </div>
  </div>
</main>
