<div class="categories-main container">
  <div class="search-and-add-btn">
    <div class="box">
      <div class="search-box">
        <input type="text" placeholder="Search for categories..." (keyup)="filterCategories($event)">
        <label for="check" class="search-icon">
          <mat-icon>search</mat-icon>
        </label>
      </div>
    </div>

    <div class="add-btn">
      <button mat-raised-button class="add-button" #scroll (click)="onCreateCategory()" title="Create a category">
        <mat-icon>add</mat-icon>
        Create
      </button>
    </div>
  </div>

  <div class="categories-container">
    <div class="categories-grid" id="categories">
      <div *ngFor="let category of filteredCategoryList">
        <mat-card class="category-card example-card">
          <div class="graph-image">
            <app-category-graph-preview [categoryId]="category.id"></app-category-graph-preview>
          </div>

          <div class="category-card-main">
            <mat-card-header>
              <mat-card-title>{{category.title}}</mat-card-title>
              <mat-card-subtitle>
                <div>
                  <p class="subtitle">Unit of measure: {{category.unitOfMeasure}}</p>
                  <p class="subtitle">
                    Limits: {{category.lowerLimit != null ? '[' + category.lowerLimit : '(-&infin;'}} :
                            {{category.upperLimit != null ? category.upperLimit + ']' : '&infin;)'}}
                  </p>
                </div>
              </mat-card-subtitle>

            </mat-card-header>

            <mat-card-content>
              <p>{{category.description}}</p>
            </mat-card-content>

            <mat-card-actions>

              <button mat-button (click)="router.navigate(['/categories/' + category.id])" title="View category">
                <mat-icon>visibility</mat-icon>
              </button>

                <button mat-button (click)="onAddRecord(category)" title="Add a record for this category">
                  <mat-icon>add</mat-icon>
                </button>

              <button mat-button (click)="onDeleteCategory(category)" title="Delete category">
                <mat-icon>delete</mat-icon>
              </button>

              <button mat-button (click)="onEdit(category)" title="Edit category">
                <mat-icon>edit</mat-icon>
              </button>

            </mat-card-actions>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
</div>

