<mat-toolbar>
  <button class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabIndex="-1"><mat-icon>clear</mat-icon></button>
</mat-toolbar>
<form [formGroup]="categoryForm" class="normal-form" (submit)="onSubmit()">
  <mat-grid-list cols="1" rowHeight="400px" >
    <mat-grid-tile>
      <div  fxFlex fxLayoutAlign="center">
        <mat-form-field>
          <input formControlName="title" matInput placeholder="Title">
          <mat-error>This field is mandatory.</mat-error>
        </mat-form-field>
        <br>
        <mat-form-field>
          <input formControlName="description" matInput placeholder="Add description (optional)">
        </mat-form-field>
        <br>

        <mat-form-field>
          <mat-label>Data Type?</mat-label>
          <mat-select formControlName="type">
            <mat-option value="Numerical">Numerical</mat-option>
            <mat-option value="Time duration">Time duration</mat-option>
            <mat-option value="Multiple choice">Multiple choice</mat-option>
          </mat-select >
          <mat-error >This field is mandatory.</mat-error>
        </mat-form-field>
        <br>
<br>
        <div class="button-row">
          <button mat-raised-button color="primary" type="submit" >Submit</button>
          <button mat-raised-button color="warn" (click)="onClear()">Clear</button>
        </div>
      </div>
    </mat-grid-tile>

  </mat-grid-list>
</form>

