<mat-toolbar color="primary">
  <mat-toolbar-row>
      <button mat-icon-button class="menuButton" (click)="toggleSideBar()">
          <mat-icon>menu</mat-icon>
      </button>
      <span> Look </span>
      <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
          <ul fxLayout="row" fxLayoutGap="20px">
            <section *ngIf="userService.username | async as username" >
              <p>Welcome, {{username}}</p>
            </section>
              <li>
                  <button mat-icon-button class="menuButton">
                      <mat-icon>settings</mat-icon>
                  </button>
              </li>
              <li>
                  <button mat-icon-button class="menuButton">
                      <mat-icon>help_outline</mat-icon>
                  </button>
              </li>
              <li>
                <button mat-button class="menuButton" [matMenuTriggerFor]="menu">
                  <mat-icon>person_outline</mat-icon>
                </button>
                <mat-menu #menu="matMenu" class="menuButton">
                  <button mat-menu-item (click)="logout()">
                      <mat-icon>exit_to_app</mat-icon>
                      Sign out
                  </button>
                 </mat-menu>

              </li>
          </ul>
      </div>
  </mat-toolbar-row>
</mat-toolbar>
