<div class="buttonAndDropDown">
  <ng-multiselect-dropdown style="width:100%" [settings]="dropdownSettings" [placeholder]="'Select categories'"
    [(ngModel)]="selectedItems" [data]="dropdownList" (onDeSelect)="onItemDeSelect($event)"
    (onDeSelectAll)="onDeSelectAll($event)" (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)">
  </ng-multiselect-dropdown>
  <section>
    <div class="example-button-row">
      <button mat-raised-button [disabled]="disabledButton" (click)="correlate()">Correlate</button>
    </div>
  </section>
</div>

<div *ngIf="errorMessage">
  <p class="errorMessage">{{errorMessage}}</p>
</div>

<div class="chart-container">
  <canvas id="canvas"></canvas>
</div>

<div *ngIf="correlationCoeff">
  <div class="content" id="scrollHere">
    <p id="correlationCoeffInfoMessage">Coeficientul de corelare este {{correlationCoeff}}</p>
    <p class="coefficient-explanation">
      Coeficientul de corelare indica cat de puternica este relatia intre date.
    </p>
    <div class="list">
      <ul>
        <li>
          1 indica o relatie pozitiva puternica. Pentru orice crestere pozitiva a unui set de date A, creste si setul de date B.
        </li>
        <li>
          -1 indica o relatie negativa puternica. Pentru orice crestere a unui set de date A, exista o descrestere a setului de date B.
        </li>
        <li>
          0 indica ca nu exista nicio relatie
        </li>
      </ul>
    </div>

  </div>
</div>

<canvas id="scatterCorrelationChart" width="1000"></canvas>
