<h2 class="categoryTitle">{{category.title}}<sub>&nbsp;&nbsp;[{{category.unitOfMeasure}}]</sub></h2>

<div class="wrap-collabsible">
  <input id="collapsible" class="toggle" type="checkbox">
  <label for="collapsible" class="lbl-toggle">See description</label>
  <div class="collapsible-content">
    <div class="content-inner">
      <p>{{category.description}}</p>
    </div>
  </div>
</div>

<div class="chart-container">
  <div style="position: relative">
    <canvas id="recordChart"></canvas>
  </div>

  <div class="chart-action">
    <button
      [ngClass]="isAddBtnOn ? 'enable-btn enable-btn-focused' : 'enable-btn'"
      (click)="toggleAddingRecords()"
      title="Enable/Disable record adding">

      <mat-icon class="action-icon">add</mat-icon>
    </button>

    <label class="chart-btn file-label" for="file" title="Import">
      <mat-icon class="action-icon">file_upload</mat-icon>
    </label>
    <input type="file" id="file" name="file" class="form-control" ngModel #nameField="ngModel"
      (change)="handleFileInput($event)" required>

    <div class="btn-group">
      <a id="download" data-toggle="dropdown" class="btn btn-primary float-right bg-flat-color-1" title="Download">
        <mat-icon class="action-icon">download</mat-icon>
      </a>
      <ul class="dropdown-menu">
        <div class="btn-group btn-group-vertical">
          <a (click)="downloadAsPng()" class="btn">Download as png</a>
          <a (click)="downloadAsCsv()" class="btn">Download as csv</a>
        </div>
      </ul>
    </div>

    <button *ngIf="isUndoBtnDisplayed" class="chart-btn" (click)="undo()" title="Undo">
      <mat-icon class="action-icon">undo</mat-icon>
    </button>
  </div>
</div>

<div class="record-table mat-elevation-z8">
  <mat-table [dataSource]="this.dataSource" matSort>

    <ng-container matColumnDef="date">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Date </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.date | date}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="note">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Note </mat-header-cell>
      <mat-cell
        [ngClass]="{'empty-note': !element.note}"
        *matCellDef="let element"> {{element.note || '(empty)'}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="value">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Value </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.value.toFixed(2)}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
      <mat-cell *matCellDef="let element" class="action-link">

        <button class="action-btn" (click)="onEdit(element, category)" title="Edit record">
          <mat-icon class="action-icon">edit</mat-icon>
        </button>

        <button class="action-btn" (click)="openModal('Delete', element)" title="Delete record">
          <mat-icon class="action-icon">delete</mat-icon>
        </button>

      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

  </mat-table>
  <mat-paginator [pageSizeOptions]="[5, 10, 15, 20, 50, 100]" [pageSize]="10" showFirstLastButtons></mat-paginator>
</div>
