:host {
  width: 80%;
  min-width: 500px;
}

.chart-container {
  padding-right: 30px;
  background-color: white;
  position: relative;
  box-shadow: -5px 7px 11px 1px rgb(0 0 0 / 5%) !important;
}

.categoryTitle {
  display: flex;
  justify-content: center;
  align-items: center;
}

#download,
.chart-btn,
.enable-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 5px;
  background-color: #fae042;
  font-weight: bold;
  font-size: 1.2rem;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  // font-family: monospace;
  transition: all 0.25s ease-out;
  color: #a77b0e;
  text-align: center;
  border: none;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.chart-btn:hover,
#download:hover,
.enable-btn:hover {
  background-color: #fae042;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.2);
  color: #fff;
}

.enable-btn-focused {
  color: #fff;
}

@media (max-width: 600px) {
  #recordChart {
    width: 100%;
  }
  .categoryTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .chart-container {
    width: 500px;
    height: 300px;
    background-color: white;
    position: relative;
  }
  table {
    width: 100%;
  }
}

table {
  width: 100%;
}
.chart-action {
  position: absolute;
  top: 15px;
  right: 15px;
  display: flex;
  flex-direction: column;
  border-radius: 50%;
}

mat-card-header {
  display: flex;
  justify-content: center;
}

.record-table {
  margin-top: 15px;
}

.wrap-collabsible {
  margin-bottom: 1.2rem 0;
}

input[type="checkbox"] {
  display: none;
}

*:focus {
  outline: 0 !important;
}

mat-icon {
  display: flex;
  justify-content: center;
}

.enableButton {
  background-color: #fae042;
  font-weight: bold;
  font-size: 1.2rem;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  // font-family: monospace;
  transition: all 0.25s ease-out;
  color: #a77b0e;
  border-radius: 50%;
  text-align: center;
  border: none;
}

.enableButton:hover {
  background-color: #fae042;
}

.btn:hover {
  background-color: #fae042;
}

p {
  color: #a77b0e;
  // font-family: monospace;
  font-size: 1.3rem;
  max-width: 1000px;
}

.lbl-toggle {
  display: block;

  font-weight: bold;
  // font-family: monospace;
  font-size: 1.2rem;
  text-transform: uppercase;
  text-align: center;

  padding: 1rem;

  color: #a77b0e;
  background: #fae042;

  cursor: pointer;

  border-radius: 7px;
  transition: all 0.25s ease-out;
}

.lbl-toggle:hover {
  color: #7c5a0b;
}

.lbl-toggle::before {
  content: " ";
  display: inline-block;

  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid currentColor;
  vertical-align: middle;
  margin-right: 0.7rem;
  transform: translateY(-2px);

  transition: transform 0.2s ease-out;
}

.toggle:checked + .lbl-toggle::before {
  transform: rotate(90deg) translateX(-3px);
}

.collapsible-content {
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.25s ease-in-out;
}

.toggle:checked + .lbl-toggle + .collapsible-content {
  max-height: 100vh;
}

.toggle:checked + .lbl-toggle {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.collapsible-content .content-inner {
  background: rgba(250, 224, 66, 0.2);
  border-bottom: 1px solid rgba(250, 224, 66, 0.45);
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  padding: 0.5rem 1rem;
}

.categoryDetailText {
  font-size: 2rem;
}

input[type="file"] {
  font-size: 1em;
  // font-family: monospace;
}

.informationAboutAddStatus {
  display: flex;
  justify-content: center;
  font-weight: bold;
}

.record-table {
  margin-top: 40px;
  box-shadow: -5px 7px 11px 1px rgb(0 0 0 / 5%) !important;
}

.mat-column-value {
  justify-content: center;
}

.mat-column-date {
  justify-content: center;
}

.mat-column-note {
  justify-content: center;
}

.mat-column-action {
  justify-content: center;
}

.empty-note {
  color: lightgray;
  font-style: italic;
}

::ng-deep .mat-sort-header-arrow {
  position: absolute !important;
  right: -15px !important;
}

.action-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 5px;
  background-color: #fae042;
  font-weight: bold;
  font-size: 1.2rem;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  // font-family: monospace;
  transition: all 0.25s ease-out;
  color: #a77b0e;
  text-align: center;
  border: none;
}

.action-btn:hover {
  background-color: #fae042;
  color: #fff;
}

.action-icon {
  font-size: 16px;
  width: 16px;
  height: 16px;
}

#file {
  opacity: 0;
  position: absolute;
  z-index: -1;
}

.file-label {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0px;
}
