.chart-container {
  width: 1000px;
  height: 600px;
}

.categoryTitle {
  display: flex;
  justify-content: center;
  align-items: center;
}

table {
  width: 100%;
}

mat-card-header {
  display: flex;
  justify-content: center;
}
