<h2 class="categoryTitle">{{category.title}}</h2>
<div class="chart-container">
  <canvas id="recordChart"></canvas>
</div>

<div>
  <mat-card class="example-card">

    <mat-card-header>
      <mat-card-title>{{category.title}}</mat-card-title>
      <mat-card-subtitle>{{category["type"]}}</mat-card-subtitle>
    </mat-card-header>

    <table mat-table [dataSource]="recordList" class="mat-elevation-z8">

      <!-- Date Column -->
      <ng-container matColumnDef="Date">
        <th mat-header-cell *matHeaderCellDef> Date </th>
        <td mat-cell *matCellDef="let element"> {{element.date}} </td>
      </ng-container>

      <!-- Note Column -->
      <ng-container matColumnDef="Note">
        <th mat-header-cell *matHeaderCellDef> Note(Optional) </th>
        <td mat-cell *matCellDef="let element"> {{element.note}} </td>
      </ng-container>

      <!-- Value Column -->
      <ng-container matColumnDef="Value">
        <th mat-header-cell *matHeaderCellDef> Value </th>
        <td mat-cell *matCellDef="let element"> {{element.value}} </td>
      </ng-container>

      <ng-container matColumnDef="Action">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let element" class="action-link">
          <a (click)="openDialog('Update',element)">Edit</a> |
          <a (click)="openDialog('Delete',element)">Delete</a>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>

  </mat-card>
</div>
